extends ../layout

block content
    .container.py-2
        .row     
            .col-12.py-2
                h2= title        
            .col-12.py-2
                table.table
                    thead
                        tr
                            th(scope='col') #
                            th(scope='col') Nombre
                            th(scope='col') Creditos
                            th(scope='col') Descripcion
                            th(scope='col') Fecha de Creación
                    tbody
                        //each course in courses
                        -for(let i= 0; i < courses.length; i++)
                            tr
                                th(scope='row')=courses[i].id
                                td=courses[i].name
                                td=courses[i].credits
                                td=courses[i].description
                                td=courses[i].created_at.toLocaleString()
                                td
                                    a.bi.bi-pencil-square.mx-2(href="/courses/update/" + courses[i].id)
                                    a.bi.bi-trash2-fill.mx-2(href="#")

            .col-12.py-2
                a.btn.btn-primary(href="/courses/new") Nueva Materia