extends ../layout

block content
    
    form(action="/courses/update", method= "POST")
        input(type="hidden", name="id", value=courses.id)
        .container.py-2
            .row 
                .col-12.py-2
                    h2= title
                .col-md-6.col-12 
                    label.form-label(for="name") Nombre 
                    input#name.form-control(type="text", name="name", value=courses.name)

                .col-md-6.col-12 
                    label.form-label(for="credits") Creditos 
                    input#credits.form-control(type="text", name="credits", value=courses.credits)

                .col-md-12.col-12 
                    br

                .col-md-6.col-12 
                    label.form-label(for="description") Descripcion
                    input#description.form-control(type="text", name="description", value=courses.description)

                .col-md-12.col-12 
                    br


                .col-md-12.col-12.py-2 
                    button.btn.btn-primary(type="submit") Actualizar
                    |  
                    a.btn.btn-secondary(href="/courses") Cancelar
                