extends ../layout

block content
    .container.py-2
        .row     
            .col-12.py-2
                h2= title        
            .col-12.py-2
                table.table
                    thead
                        tr
                            th(scope='col') #                            
                            th(scope='col') Periodo                            
                            th(scope='col') Materia                            
                            th(scope='col') Profesor                            
                            th(scope='col') Fecha Creación
                            th(scope='col')
                    tbody
                        -for(let i= 0; i < list.length; i++)
                            tr
                                th(scope='row')=list[i].id                                
                                td=list[i].period                                
                                td=list[i].courses
                                td=list[i].teacher                                
                                td=list[i].created_at.toLocaleString()
                                td                                     
                                    a.bi.bi-trash2-fill.mx-2(href="#", onclick=`DeleteSubject(${list[i].id}, ${list[i].id_period}); return false`)
                        
            .col-12.py-2
                a.btn.btn-primary(href="/period/subject/new/" + id_period) Aperturar Materia
                | 
                a.btn.btn-secondary(href="/period/") Regresar

    script.
        function DeleteSubject(id, id_period){
            fetch('/period/subject/delete',{
                    method: "POST",
                    body: JSON.stringify({'id': id,'id_period':id_period }),
                      headers: {
                        "Content-Type": "application/json",
                    },
                })
                .then(response => response.json())
                .then(data => {console.log(data); location.reload() });
        }
